@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 70% !important;
  padding: 3rem;
}

html {
  font-size: 10px;
}

body {
  border: 3rem solid #f4ede5;
}

header .bars {
  display: flex;
  justify-content: start;
  align-items: center;
}
header .bars i {
  font-size: 1.6rem;
  transition: all 0.1s ease-in-out;
}
header .bars i:hover {
  color: #f34949;
  transition: all 0.1s ease-in-out;
}
header .navbar ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-bottom: 0;
}
header .navbar ul a {
  font-size: 1.6rem;
  font-weight: 300;
  color: #000;
  display: flex;
  transition: all 0.1s ease-in-out;
}
header .navbar ul a i {
  margin-left: 0.5rem;
}
header .navbar ul a:hover {
  color: #f34949;
  transition: all 0.1s ease-in-out;
}
header .logo {
  text-align: center;
}
header .search {
  display: flex;
  justify-content: end;
  align-items: center;
}
header .search i {
  font-size: 1.6rem;
  transition: all 0.1s ease-in-out;
}
header .search i:hover {
  color: #f34949;
  transition: all 0.1s ease-in-out;
}

#hero h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 5.6rem;
  font-weight: 300;
  margin-bottom: 4.8rem;
}
#hero .hero-btns {
  display: flex;
  align-items: center;
}
#hero .hero-btns .hero-btn {
  background-color: #f34949;
  color: #fff;
  font-size: 1.6rem;
  border-radius: 3rem;
  padding: 0.9rem 2.5rem;
  transition: all 0.1s ease-in-out;
}
#hero .hero-btns .hero-btn:hover {
  background-color: #e22104;
  transition: all 0.1s ease-in-out;
}
#hero .hero-btns .film-btn {
  color: #000;
  font-size: 2rem;
  padding: 0.8rem 1.6rem;
  transition: all 0.1s ease-in-out;
}
#hero .hero-btns .film-btn:hover {
  color: #e22104;
  transition: all 0.1s ease-in-out;
}
#hero .hero-services {
  display: flex;
  padding-top: 14rem;
}
#hero .hero-services .service {
  width: auto;
  padding: 0 1.5rem;
  text-align: center;
}
#hero .hero-services .service i {
  font-size: 3.2rem;
  margin-bottom: 1.5rem;
}
#hero .hero-services .service p {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 0.8rem;
}

#about {
  padding-top: 13rem;
}
#about .about-img {
  height: 100%;
}
#about .about-img img {
  width: 100%;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
#about .about-content {
  margin-left: 4.8rem;
  padding: 4.8rem 1.5rem 4.8rem 4.8rem;
}
#about .about-content h4 {
  font-size: 1.6rem;
  font-weight: 300;
  color: #f34949;
}
#about .about-content h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 3.2rem;
  font-weight: 700;
  margin-bottom: 0.8rem;
}
#about .about-content p {
  font-size: 1.6rem;
  line-height: 2rem;
  margin-bottom: 1.6rem;
  padding-top: 2rem;
  opacity: 0.8;
  width: 95%;
}
#about .about-content .about-product-body h2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2.8rem;
  margin-top: 4.8rem;
  margin-bottom: 0.8rem;
}
#about .about-content .about-product-body .card {
  border: none;
}

#specialties {
  padding-top: 12rem;
  background-color: #F7F8F9;
}
#specialties .special-title {
  font-size: 2.8rem;
  font-weight: bold;
  padding-bottom: 4rem;
}
#specialties .special-content {
  font-size: 5rem;
  font-family: "Josefin Sans", sans-serif;
}
#specialties .special-line {
  height: 2px;
  width: 20rem;
  background-color: black;
  opacity: 0.6;
}
#specialties .special-text {
  padding-left: 8rem;
}
#specialties .special-text h3 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2.6rem;
  color: #f34949;
}
#specialties .special-text h5 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2.8rem;
}
#specialties .special-text p {
  font-size: 1.6rem;
  font-weight: 300;
  padding-top: 1.6rem;
  margin-bottom: 1.6rem;
}
#specialties .special-text p.price {
  font-weight: 700;
  font-size: 2.8rem;
}
#specialties .special-text a {
  border-radius: 2rem;
  font-size: 1.4rem;
  padding: 0.9rem 2.5rem;
}
#specialties .special-content-main1 {
  padding: 8rem 15rem 15rem 0.8rem;
}
#specialties .special-content-main1 span {
  font-family: "Josefin Sans", sans-serif;
  font-size: 6rem;
  font-weight: 700;
  margin-right: 2rem;
}
#specialties .special-content-main2 {
  padding: 8rem 0.8rem 15rem 15rem;
}
#specialties .special-content-main2 span {
  font-family: "Josefin Sans", sans-serif;
  font-size: 6rem;
  font-weight: 700;
  margin-right: 2rem;
}/*# sourceMappingURL=style.css.map */